<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:pullupfieldsintonewbasetemplate" type="Sitecore.PullUpFields.Shell.Framework.Commands.PullUpFieldsIntoNewBaseTemplate,Sitecore.PullUpFields"/>
      <command name="item:pullupfieldsintoexistingbasetemplate" type="Sitecore.PullUpFields.Shell.Framework.Commands.PullUpFieldsIntoExistingBaseTemplate,Sitecore.PullUpFields"/>
    </commands>
    <processors>
      <uiPullUpFieldsIntoNewBaseTemplate>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="EnsureTemplate"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="SelectFields"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="ChooseBaseTemplateName"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="ChooseBaseTemplateLocation"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="EnsureCanCreateAtBaseTemplateLocation"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="CreateNewBaseTemplate"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="Execute"/>
      </uiPullUpFieldsIntoNewBaseTemplate>
      <uiPullUpFieldsIntoExistingBaseTemplate>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="EnsureTemplate"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="SelectFields"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="ChooseExistingBaseTemplate"/>
        <processor mode="on" type="Sitecore.PullUpFields.Shell.Framework.Pipelines.PullUpFieldsIntoBaseTemplate,Sitecore.PullUpFields" method="Execute"/>
      </uiPullUpFieldsIntoExistingBaseTemplate>
    </processors>
    <settings>
      <!-- Dialog Titles -->
      <setting name="Sitecore.PullUpFields.SelectFieldsDialogTitle" value="Select Fields" />
      <setting name="Sitecore.PullUpFields.SelectBaseTemplateLocationDialogTitle" value="Select Base Template Location" />
      <setting name="Sitecore.PullUpFields.ChooseExistingBaseTemplateDialogTitle" value="Select Base Template" />

      <!-- Dialog Texts -->
      <setting name="Sitecore.PullUpFields.SelectFieldsDialogText" value="Select the fields to pull up into a base template." />
      <setting name="Sitecore.PullUpFields.SelectBaseTemplateLocationDialogText" value="Select the parent item under which the new base template will be created." />
      <setting name="Sitecore.PullUpFields.ChooseExistingBaseTemplateDialogText" value="Select the base template for pulling up the fields." />

      <!-- Messages -->
      <setting name="Sitecore.PullUpFields.NotTemplateMessage" value="The supplied item is not a template!" />
      <setting name="Sitecore.PullUpFields.CannotCreateItemAtSelectedLocationMessage" value="You cannot create an item at the selected location!" />
      <setting name="Sitecore.PullUpFields.OperationCancelledMessage" value="Operation has been cancelled!" />

      <!-- Dialog Dimensions -->
      <setting name="Sitecore.PullUpFields.SelectFieldsDialogWidth" value="800px" />
      <setting name="Sitecore.PullUpFields.SelectFieldsDialogHeight" value="500px" />
      <!-- Prompts -->
      <setting name="Sitecore.PullUpFields.ChooseBaseTemplateNamePrompt" value="Enter the name of the base template" />
      <setting name="Sitecore.PullUpFields.DefaultChooseBaseTemplateName" value="New Base Template 1" />
      
      <!-- Dialog Root Paths -->
      <setting name="Sitecore.PullUpFields.SelectBaseTemplateLocationSaveRoot" value="/sitecore/templates" />

      <!-- Dialog Button Text -->
      <setting name="Sitecore.PullUpFields.SelectBaseTemplateLocationDialogOKButtonText" value="OK" />
      <setting name="Sitecore.PullUpFields.ChooseExistingBaseTemplateDialogOKButtonText" value="OK" />

      <!-- Command Icons -->
      <setting name="Sitecore.PullUpFields.PullUpFieldsIntoNewBaseTemplateCommandIcon" value="Business/32x32/up_plus.png" />
      <setting name="Sitecore.PullUpFields.PullUpFieldsIntoExistingBaseTemplateCommandIcon" value="Business/32x32/up_minus.png" />

      <!-- Command Pipelines -->
      <setting name="Sitecore.PullUpFields.PullUpFieldsIntoNewBaseTemplatePipelineName" value="uiPullUpFieldsIntoNewBaseTemplate" />
      <setting name="Sitecore.PullUpFields.PullUpFieldsIntoExistingBaseTemplatePipelineName" value="uiPullUpFieldsIntoExistingBaseTemplate" />
    </settings>
  </sitecore>
</configuration>
